.a{
    height: 150px;
    width: 150px;
    border: 4px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    background: bisque;
}
.a{
    position: relative;
    /* it will made changes according to its current position */
    top: 100px;
    left: 100px;
}

.b{
    height: 150px;
   width: 150px;
   border: 4px solid red;
    display: flex;
   justify-content: center;
   align-items: center;
   background: rgb(66, 229, 229);
}
.b{
    /* it will change its position according to top of webpage */
    position: absolute;
    top: 50px;
    left: 50px;
}
.c{
    
    height: 150px;
    width: 150px;
   border: 4px solid rgb(0, 0, 0);
    display: flex;
   justify-content: center;
   align-items: center;
   background: rgb(243, 170, 35);
}
.c{
    /* it is same like absolute */
    position: fixed;
    top: 50%;
    left: 50%;
}

.d{
    height: 150px;
    width: 150px;
   border: 4px solid rgb(0, 0, 0);
    display: flex;
   justify-content: center;
   align-items: center;
   background: rgb(243, 170, 35);
}
.d{
    /* it is same as relative */
    position: sticky;
    top: 1px;
    left: 1px;
}