.a{
    background:orange;
    border: 5px solid red;
    height: 300px;
    width: 300px;
    transition-property: all;
    transition-duration: 3s;
    /* transition-delay: 1ms; */
    /* transition-timing-function: ease; */
}
.a:hover{
    border-radius: 50%;
    border: 10px dotted blue;
    
}

  /* to change style also slowly we use animations */
.a:hover{
    animation: border 3s;
}
@keyframes border{
    0% {
       border-style:solid;
    }
    40% {
       border-style:solid;
    }
    45%{
        border-style:dotted;
    }
    100% {
        border-style:dotted;
    }
 }