body{
    background: black;
}
div{
    height: 200px;
    width:100%;
    margin: 25px;
    border: 4px solid white;
}

.f{
    background-image: radial-gradient(circle,red 5%,pink 8%,rgb(0, 0, 0) 10%);
    /* background-image:radial-gradient(ellipse,red 5%,pink 8%,rgb(0, 0, 0) 10%); */
    /* background-image: repeating-radial-gradient(ellipse,red 5%,pink 8%,rgb(0, 0, 0) 10%); */
    /* background-image: repeating-radial-gradient(circle,red 5%,pink 8%,rgb(0, 0, 0) 10%); */
   
}


.a{
    background-image: linear-gradient(red,black,white,yellow);
}
.b{
    background-image: repeating-linear-gradient(to left,red,rgb(0, 0, 0),orange,blue);
}
.c{
    background-image: linear-gradient(to left,green,white,orange);
}
.d{
    background-image: linear-gradient(65deg,rgb(0, 140, 255),black,yellow,green);
}
.e{
    background-image:repeating-linear-gradient(75deg,black 10%,red 30%,yellow);
}
.g{
    color: white;
    text-align: center;
    background-image: linear-gradient(to right,red 1%,yellow 20%,green 30%,black 55%,rgb(107, 76, 201) 70%,black 75%,rgb(219, 17, 202) 90%);
    font-size: xx-large;
}
.h{
    background-image: conic-gradient(rgb(211, 35, 182),green,blue);

}
